/*Slide show*/
.slideShow{
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    position: relative;
}
.slideContain{
    padding: 0px;
    margin: 0px;
    width: 500%;
    height: 100%;
    position: absolute;
    /*left: -100%;*/
    animation: slideShow 8s alternate infinite;
}
@-webkit-keyframes slideShow {
    0%{left: 0%}
    10%{left: 0%}
    15%{left: -100%}
    35%{left: -100%}
    40%{left: -200%}
    60%{left: -200%}
    65%{left: -300%}
    85%{left: -300%}
    90%{left: -400%}
    100%{left: -400%}
}
@-webkit-keyframes slideShowText {
    0%{left: 20%}
    10%{left: 15%}
    12.5%{left: 25%}
    15%{left: 25%}
    25%{left: 20%}
    35%{left: 15%}
    37.5%{left: 25%}
    40%{left: 25%}
    50%{left: 20%}
    60%{left: 15%}
    62.5%{left: 25%}
    65%{left: 25%}
    75%{left: 20%}
    85%{left: 15%}
    87.5%{left: 25%}
    90%{left: 25%}
    100%{left: 20%}
}
.slide {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: left;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide a {
    background-color: rgba(51,51,51,0.5);
    max-width: 35%;
    max-height: 25%;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    padding: 0px 0.5em;
    color: #ffffff;
    position: absolute;
    left: 20%;
    bottom: 10%;
    animation: slideShowText 8s linear infinite;
}
.slide a:hover {
    text-decoration: none;
}
/*post*/
.postContaint{
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    max-width: 1028px;
}
.post {
    width: 100%;
    position: relative;
    background-color: rgba(255,255,255,0.9);
    margin-top: 50px;
    border-radius: 3px;
    /*box-shadow: 0px 5px 10px -5px rgba(100,100,100,0.5);*/
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
}

.fixPadding{
    padding: 0px 10px;
}
svg {
    display: none;
}
/*post info*/
.postInfo{
}
.avatar{
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.avatar img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);

}
.avatarAbsolute{
    position: absolute!important;
}
.info{
    position: relative;
    min-height: 64px;
    padding: 5px 0px 0px 0px;
}
.info .buttonCircle{
    float: right;
    margin-left: 4px;
    opacity: 0.8;
}
.infoFixPaddingLeft{
    padding-left: 80px;
}
.info a {
    color: #888888;
}
.poster {
    font-size: 2em;
    margin-right: 10px;
}
.datepost{
    font-size: 1em;
    color: #555555;
    font-family: monospace;
}

/*post image*/
.postImage{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
@media screen and (min-width: 768px){
    .postImage{
        height: 360px;
    }
}
@media screen and (max-width: 768px){
    .postImage{
        height: 50vw;
    }
}
@media screen and (max-width: 320px){
    .postImage{
        height: 160px;
    }
}
.postImage img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}

/*post Title*/
.postTitle {
    margin-top: 20px;
}
.postTitle a {
    font-size: 2em;
    font-weight: 600;
    color: #2266aa;
}


/*post body*/
.postBody {
    margin-top: 20px;
}
.postBody a {
    font-size: 1.5em;
    color: #333333;
    text-decoration: none;
}

/*post control*/
.postControl {
    min-height: 50px;
    margin-top: 20px;
}
.postControl span {
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    padding-right: 5em;
}
.postControl .fa-eye {
    color: #2266ff;
}
.postControl .fa-comment-o {
    color: #ff6622;
}


/*Post Tran theme*/
/*bonus*/
.postTran {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 5px 10px -5px rgba(100,100,100,0.5);
}
.postInfoTran{
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0));
}
.postTran .info a {
    color: #eeeeee;
}
.postTran .datepost{
    font-size: 1em;
    color: #cccccc;
    font-family: monospace;
}
.postTitle p {
    font-size: 2em;
    font-weight: 600;
    color: #2266aa;
}
.postBody p {
    font-size: 1.5em;
    color: #333333;
}
.postBody img {
    width: 100%;
}

/*comment*/
.commentContain{
    /*background-color: #cceeff;*/
}
.commentInfo {
    /*background-color: #cceeff;*/
    padding: 10px;
}
.commentInfo span, .commentInfo .datepost{
    color: #555555;
}
.commentContent{
    padding-left: 74px;
    color: #333333;
    font-size: 1.5em;
}
.commentContain .avatar{
    width: 48px;
    height: 48px;
}
.commentContain .info{
    position: relative;
    min-height: 48px;
    padding: 0px;
}
.commentContain .poster {
    font-size: 1.5em;
    margin-right: 10px;
}
.commentIndex {
    text-align: right;
}
textarea {
    width: 100%;
}



