body{
    /*background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));*/
    background-color: #f0f0ff;
    background-image: url("img/backgroundlogo.svg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 320px;
    font-family: sans-serif;
}
body::before{
    /*content: "";*/
    /*filter: opacity(0.5);*/
    /*background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));*/
    /*position: fixed;*/
    /*z-index: -1;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*background-image: url("img/cover02.jpg");*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/

}
a {
    cursor: pointer;
}
*::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track{
    background-color: rgba(200,200,200,0.8);
}

*::-webkit-scrollbar-thumb{
    background-color: #333333;
}
.shadow {
    box-shadow: 0px 5px 5px -5px #80808f;
}
.fixPadingTop{
    padding-top: 50px;
}
/*hearder*/
header {
    min-width: 320px;
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    background-color: rgba(255,255,255,0.4);
    /*box-shadow: 0px 0px 10px #80808f;*/
    border-bottom: 1px solid #cccccc;
    position: fixed;
    top: 0px;
    z-index: 10;
}
header>div{
    height: 40px;
}
.logocontain {

}
header img{
    height: 100%;
}
.menuButton {
    cursor: pointer;
    height: 100%;
    font-size: 2em;
    overflow: hidden;
}


/*main body*/
.main {
    width: 100%;
    margin-top: 60px;
    min-height: 100vh;
}
.widthNarrow{
    margin: 0px auto;
    max-width: 780px;
}
.selfclear:after{
    content: "";
    clear: both;
    display: table;
}

/*footer*/
footer{
    min-width: 320px;
    padding: 1em;
    color: #ffffff;
    margin-top: 30px;
    background-color: rgba(51,51,51,0.9);
    background-image: url("img/newlogo.svg");
    background-position: left center;
    background-repeat: no-repeat;
    min-width: 320px;
}
footer>div{
    margin: 0px auto;
    max-width: 960px;
}
.footerlink {
    text-align: center;
    letter-spacing: 1em;
    font-size: 2em;
}
.footerlink a{
    color: #ffffff;
}
.footercontactinfo{
    font-size: 1em;
}
@media screen and (min-width: 992px){
    .footercontactinfo{
        text-align: right;
    }
}
@media screen and (max-width: 992px){
    .footercontactinfo{
        text-align: center;
    }
}

/*button*/
.button{
    cursor: pointer;
    height: 40px;
    padding: 0px 10px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #666666;
    line-height: 40px;
    overflow: hidden;
}
.button:hover{

}

.buttonPrimary {
    color: #ffffff;
    background-color: #4488ff;
    border: 0px;
}
.buttonPrimary:hover{
    background-color: #4488cc;
}

.buttonCircle{
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.buttonSuccess{
    color: #ffffff;
    background-color: #55dd55;
    border: 0px;
}
.buttonDanger{
    color: #ffffff;
    background-color: #dd5555;
    border: 0px;
}
.buttonWarning{
    color: #ffffff;
    background-color: #dd9922;
    border: 0px;
}
.buttonCircle:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.3;
    text-align: center;
}
.buttonCircle i {
    font-size: 36px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.floatRight{
    float: right;
}
/*form*/
.formContain {
    margin: 0 auto;
    max-width: 640px;
    padding: 50px;
    margin-top: 50px;
    background-color: #ffffff;
}
.formBox{
    border-radius: 3px;
    box-shadow: 0px 5px 10px -5px rgba(100,100,100,0.5);
}
.formContain>div {
    margin-top: 25px;
    position: relative;
}
.inputText input{
    width: 100%;
    font-size: 1.5em;
    padding: 0px 10px;
    border: 0px solid #ffffff;
    border-left: 2px solid #226699;
    transition: border 0.5s, background 0.5s;
}
.inputText input:focus{
    outline: 0px;
    border-left: 2px solid #2266ff;
    background-color: #eeeeee;
}
label {
    display: block;
    color: #666666;
}
textarea {
    width: 100%;
    background-color: #ffffff;
}


.wallInfo{
    font-size: 1.5em;
}

/*nav*/
nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    font-size: 2em;
    z-index: 10;
    display: none;
}
.closebackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.5);
}
.navContain{
    position: absolute;
    background-color: #ffffff;
    background-image: url("img/backgroundlogo.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100%;
}
ul{
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}
ul hr {
    margin: 0px;
}

ul a:hover{
    text-decoration: none;
}

/*user*/
.userInfoContain{
    font-size: 1.5em;
    line-height: 40px;
    cursor: pointer;
}
.userAvatar{
    width: 40px;
    height: 40px;
    float: right;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.userAvatar img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);

}
.userMenu{
    position: fixed;
    width: 100%;
    right: 0px;
    top: 60px;
    z-index: 11;
    display: none;
}
.userMenu ul::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    top: -10px;
    right: 25px;
    transform: rotate(45deg);
    z-index: 8;
}
.userMenu ul{
    background-color: #ffffff;

    /*position: fixed;*/
    /*right: 0px;*/
    /*border: 1px solid #cccccc;*/
}
.userMenu ul li{
    margin-top: 5px;
}

/*popover*/
.mypopover {
    background-color: #ffffff;
    min-height: 30px;
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 5;
    max-width: 276px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.mypopover.top {
    position: absolute;
    bottom: 30px;
    right: 0;
}
.mypopover>.arrow,
.mypopover>.arrow::after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.mypopover>.arrow{
    border-width: 11px;
}
.mypopover>.arrow::after{
    border-width: 10px;
}
.mypopover.top .arrow{
    bottom: -11px;
    left: 20%;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0;
}
.mypopover.top .arrow::after{
    bottom: 2px;
    margin-left: -10px;
    content: "";
    border-top-color: #ffffff;
    border-bottom-width: 0;
}
.mypopover.mypopoverAlert {
    color: #ffffff;
    background-color: #dd5555;
}
.mypopover.mypopoverAlert .arrow::after{
    border-top-color: #dd5555;
}